VITE_API_BASE_URL=https://YOUR-BACKEND-NAME.onrender.com
VITE_APP_TITLE=Fai Fai Juice
VITE_APP_DESCRIPTION=Order fresh juice online from Fai Fai Juice
VITE_SITE_URL=https://fai-fai-juice.pages.dev

# Optional: Upload Image Cloudinary par save karne ke liye
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
